<template>

    <div>

        <v-container fluid>
            <v-row align="center">
                <v-select 
                    color="csb_yellow"
                    v-model="selectedBrand" 
                    :items="brands" 
                    item-text="brand" 
                    item-value="brand" 
                    label="Select Brand" 
                    @change="brandSelection()"
                    clearable>
                </v-select>
            </v-row>

            <v-row align="center">
                <v-autocomplete 
                    
                    hide-no-data
                    hide-selected
                    color="csb_yellow"
                    clearable 
                    v-model="selectedModel" 
                    :items="modelsOptions" 
                    :search-input.sync="search"
                    item-text="hr_model" 
                    item-value="sys_id" 
                    label="Select Model"
                    @change="modelSelection()">

                   
                </v-autocomplete>
            </v-row>

            <v-row align="center">
                <v-text-field
                    color="csb_yellow"
                    prefix="₱"
                    v-model="downPayment"
               
                    label="How much is your down payment?"
                    :disabled="disableDownPayment"
                    @keyup="isAmount('downPayment', $event)"
                    hide-details>
                </v-text-field>
            </v-row>

            <v-row justify="center" align="center" class='helper' >
                <v-col style="padding: 0px !important; color: black;" cols="3">{{ minimum_dp }}.00</v-col>
                <v-col style="padding: 0px !important; text-align: center; color: rgb(117, 117, 117);" cols="6">
                </v-col>
                <v-col style="padding: 0px !important; color: black; text-align: right;" cols="3">{{ max_dp }}.00</v-col>
            </v-row>
            <br>

            <v-row justify="center" align="center" class='helper' >
                <p class="label-text" style="font-size:13.5px;color: #757575;">What is your preferred payment term (in months)?</p>
            </v-row>
            
            <v-row class="radio-cont">
                <v-col class="radio-custom ">
                    <input id="12_month" type="radio" v-model="payment_term" value="12" hidden checked>
                    <label class="" for="12_month">
                        12
                    </label>
                </v-col>
                <v-col class="radio-custom">
                    <input id="18_month" type="radio" v-model="payment_term" value="18" hidden>
                    <label class="" for="18_month">
                        18
                    </label>
                </v-col>
                <v-col class="radio-custom">
                    <input id="24_month" type="radio" v-model="payment_term" value="24" hidden>
                    <label class="" for="24_month">
                        24
                    </label>
                </v-col>
                <v-col class="radio-custom">
                    <input id="36_month" type="radio" v-model="payment_term" value="36" hidden>
                    <label class="" for="36_month">
                        36
                    </label>
                </v-col>
            </v-row>


            <v-row class="calc-details">
                <v-col class="radio-cont">
                    <div class="calc-details-text">
                        Selling Price
                    </div>
                    {{monthly_amortization}}
                    <br><br>
                    <div class="calc-details-text">
                        Loan Amount
                    </div>
                    {{loan_amount}}
                </v-col>
                <v-col class="radio-cont">
                    <div class="calc-details-text">
                        Down Payment
                    </div>
                    {{processing_fee}}
                    <br><br>
                    <div class="calc-details-text">
                        Monthly Amortization
                    </div>
                    {{monthly_amortization}}
                </v-col>
            </v-row>
        </v-container>
        
        
        <br>
        <br>

        <div style="text-align:center;font-size: 13px;color: #808080;">
            <span>Click on the icons above to navigate</span>
        </div>
        <br>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import { fetchBrand, fetchModel, fetchModelPrice } from '@/api/calculator'

export default {
    computed: {

        rules(v){
            console.log('rules', v)
            let res = [v => this.minimum_dp <= v && v <= this.max_dp ]
            return res
        }

    },

    data: function() {
        return {
            brands: [],
            selectedBrand: '',
            models: [],
            modelsOptions: [],
            selectedModel: '',
            downPayment: null,
            //rules: [v => v <= 25 || 'Max 25 characters'],
            disableDownPayment: true,
            max_dp: 0.00,
            minimum_dp: 0.00,
            price: '',


            school_input: null,
            nthp: null,
            loan_amount_input: null,
            payment_term :12,

            loan_amount: "0.00",
            monthly_amortization: "0.00",
            processing_fee: "0.00",
            net_proceeds: "0.00",

            max_loan_amount: 0,

            schools: [],
            school_names: [],

            items: ['Foo', 'Bar', 'Fizz', 'Buzz'],

            search: null,
        }
    },
    mixins: [validationMixin],
    validations: {
        school_input: { required },
        nthp: { required }, //maxLength: maxLength(6) 
        loan_amount_input: { required } //maxLength: maxLength(7)
    },
    watch: {
        search (val) {


            if(val == null || val.length < 3){
                this.modelsOptions = []
                return
            } 

            this.modelsOptions = this.models



            // Lazily load input items
           console.log('testing watcher',val)
        },
        nthp: function(){
            this.getMaxLoanAmount()
        },

        selectedBrand: function(){
           
            this.downPayment = null
            this.max_dp = 0
            this.minimum_dp = 0
            this.disableDownPayment = true 
            this.models = []
            this.selectedModel = ''
            console.log('watch brand triggered', this.disableDownPayment)
            
        },

        selectedModel: function(val){
            if(val == undefined || val == ''){
                this.disableDownPayment = true 
            } else {
                this.disableDownPayment = false 
            }
            this.downPayment = null
            this.max_dp = 0
            this.minimum_dp = 0
        },


    },
    methods:{
        getMcBrand(){
            fetchBrand().then(response => {
                console.log(response.data.data)
                this.brands = response.data.data
            }).catch((error) => {
                this.$toast.error('Oops! Something went wrong. ' + error,{
                    duration : 5000
                })
            });
        },
        brandSelection(){
            
            if(this.selectedBrand !== undefined) {
                fetchModel(this.selectedBrand).then(response => {
                    this.models = response.data.data
                }).catch((error) => {
                    this.$toast.error('Oops! Something went wrong. ' + error,{
                        duration : 5000
                    })
                });
            }
        },
        modelSelection(){
            if(this.selectedModel !== undefined) {
                fetchModelPrice(this.selectedModel).then(response => {
                    var price = response.data.data[0]

                    this.minimum_dp = price.minimum_dp
                    this.max_dp = price.max_dp
                })
            }
            
        },




        checkValidity: function(){
            if( this.school_names.includes(this.school_input) && (!this.$v.nthp.$invalid && (this.convertNumber(this.nthp) > 6000)) )
                return true
            else 
                return false
        },
        getMaxLoanAmount: function(){
            if( this.checkValidity() ){
                var max_monthly_amo = this.convertNumber(this.nthp) - 5000
                var temp_schools = []
                var rate = null
                //get values which has same company name
                this.schools.forEach((value) => {
                    if(value.company == this.school_input){
                        temp_schools.push(value)
                    }
                });
                //Find rate
                temp_schools.forEach((value) => {
                    if(value.term == this.payment_term){
                        rate = value.interest_rate
                    }
                });
                if(!rate){
                    temp_schools.forEach((value) => {
                        if(value.term == 'any'){
                            rate = value.interest_rate
                        }
                    });
                }
                rate = this.convertNumber(rate) / 100
                console.log(rate)
                this.max_loan_amount = this.computeMaxLoanAmount(rate, this.payment_term, max_monthly_amo);
                console.log(this.max_loan_amount)
            }else{
                this.max_loan_amount = 0
                this.loan_amount_input = null
            }
        },
        computeMaxLoanAmount: function(rate, nper, pmt){
            rate = rate / 12;
            var amount = pmt / rate * (1 - Math.pow(1 + rate, -nper));
            console.log(amount)
            //round DOWN neareast thousand
            amount = Math.floor(amount / 1000) * 1000;

            return amount;
        },
        getValidationClass (fieldName) {
            const field = this.$v[fieldName]
            if (field) {
                if(fieldName=='school_input' && this[fieldName]!=null)
                    return { 'error': !this.school_names.includes(this.school_input) }
                else if(fieldName=='nthp' && this[fieldName]!=null)
                    return { 'error': field.$invalid || (this.convertNumber(this.nthp) < 6000)}
                else
                    return { 'error': field.$invalid && field.$dirty }
            }
        },
        validateCalculator: function(){
            this.$v.$touch()
            
            return (!this.$v.$invalid && this.school_names.includes(this.school_input))
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57) && (charCode < 96 || charCode > 105)) && charCode !== 46 && charCode !== 188 && charCode !== 190) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        convertNumber: function(value){
            return  Number(value.replace(/[^0-9.-]+/g,""));
        },
        isAmount: function(field, value){
            console.log('event check', value)
            
            var charCode = (event.which) ? event.which : event.keyCode;
            
            if ((charCode > 31 && (charCode < 48 || charCode > 57) && (charCode < 96 || charCode > 105)) && charCode !== 46 && charCode !== 188 && charCode !== 190) {
                event.preventDefault();
            } else {
                event.preventDefault();
                var valueString = event.target.value
                if(charCode==8 || charCode==46)
                    valueString = valueString.slice(0, -1)
                else if(field=='downPayment')
                    valueString = valueString + event.key

                var str = valueString.replace(/[^0-9]/g,'')
                // var amount = ''
                // if(str) amount = str.substring(0,str.length-2)+"."+str.substring(str.length-2)

                var formattedString = str.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                this[field] = formattedString

                console.log('event.target.value', event.target.value)
            }
        },
        
    },
    mounted() {
        this.getMcBrand()
    }

}
</script>