<template>
    <div>
        <div class="md-layout">
            <v-input :class="getValidationClass('full_name')">
                <label class="label-text">Full name</label>
                <v-input v-model="full_name"></v-input>
            </v-input>
            <v-date-picker v-model="dob" :class="getValidationClass('dob')">
                <label class="label-text">Date of Birth</label>
            </v-date-picker>
            <v-input :class="getValidationClass('gender')">
                <label for="gender" class="label-text">Gender</label>
                <v-select v-model="gender" name="gender" id="gender" md-dense>
                    <md-option value="Male">Male</md-option>
                    <md-option value="Female">Female</md-option>
                </v-select>
            </v-input>
            <v-input :class="getValidationClass('civil_status')">
                <label class="label-text">Civil Status</label>
                <v-select v-model="civil_status">
                    <md-option value="Married">Married</md-option>
                    <md-option value="Single">Single</md-option>
                    <md-option value="Widowed">Widowed</md-option>
                </v-select>
            </v-input>
            <v-input :class="getValidationClass('mobile_no')">
                <label class="label-text">Mobile No</label>
                <v-input v-model="mobile_no"></v-input>
            </v-input>
            <v-input :class="getValidationClass('email')">
                <label class="label-text">Email Address</label>
                <v-input v-model="email" type="email"></v-input>
            </v-input>
        </div>
        <br>
        <div style="text-align:center;font-size: 13px;color: #808080;">
            <span>Click on the icons above to navigate</span>
        </div>
        <br>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, maxLength } from 'vuelidate/lib/validators'

export default {
    data: function() {
        return{
            full_name: null,
            dob: null,
            gender: null,
            civil_status: null,
            mobile_no: null,
            email: null,
        }
    },
    mixins: [validationMixin],
    validations: {
        full_name: { required },
        dob: { required },
        gender: { required },
        civil_status: { required },
        mobile_no: { required, maxLength: maxLength(11) },
        email: { required, email },
    },
    methods:{
        getValidationClass (fieldName) {
            const field = this.$v[fieldName]
            if (field) 
                return { 'error': field.$invalid && field.$dirty }
        },
        validateProfile: function(){
            this.$v.$touch()
            
            return !this.$v.$invalid
        }
    }

}
</script>