<template>
    <div>
        <div  class="md-layout">
            <v-autocomplete v-model="province" :md-options="province_names" :md-fuzzy-search="false" :md-open-on-focus="false" :class="getValidationClass('province')">
                <label>Province</label>
                <template slot="v-autocomplete-item" slot-scope="{ item, term }">
                    <md-highlight-text :md-term="term">{{ item }}</md-highlight-text>
                </template>
                <template slot="v-autocomplete-empty">
                    No match found
                </template>
            </v-autocomplete>

            <v-autocomplete v-model="town" :md-options="town_names" :md-fuzzy-search="false" :md-open-on-focus="false" @md-opened="handleTown" :class="getValidationClass('town')">
                <label>Town/Municipality</label>
                <template slot="v-autocomplete-item" slot-scope="{ item, term }">
                    <md-highlight-text :md-term="term">{{ item }}</md-highlight-text>
                </template>
                <template slot="v-autocomplete-empty">
                    No data available
                </template>
            </v-autocomplete>
            
            <v-autocomplete v-model="brgy" :md-options="brgy_names" :md-fuzzy-search="false" :md-open-on-focus="false" @md-opened="handleBrgy" :class="getValidationClass('brgy')">
                <label>Barangay</label>
                <template slot="v-autocomplete-item" slot-scope="{ item, term }">
                    <md-highlight-text :md-term="term">{{ item }}</md-highlight-text>
                </template>
                <template slot="v-autocomplete-empty">
                    No data available
                </template>
            </v-autocomplete>

            <v-input :class="getValidationClass('street')">
                <label>Street Address</label>
                <v-input v-model="street"></v-input>
            </v-input>
        </div>
        <br>
        <div style="text-align:center;font-size: 13px;color: #808080;">
            <span>Click on the icons above to navigate</span>
        </div>
        <br>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import LookupAPI from '@/api/lookup'
const lookup_api = new LookupAPI()

export default {
    data: function() {
        return{
            province: null,
            town: null,
            brgy: null,
            street: null,

            province_options: [],
            province_names: [],
            town_options: [],
            town_names: [],
            town_id: null,
            brgy_options: [],
            brgy_names: [],
            brgy_id: null
        }
    },
    mixins: [validationMixin],
    validations: {
        province: { required },
        town: { required },
        brgy: { required },
        street: { required },
    },
    methods:{
        handleTown: async function (){
            if(this.province_names.includes(this.province)){
                var id = null
                this.province_options.forEach((value) => {
                    if(value.text == this.province){
                        id = value.value
                    }
                });
                if(id && this.town_id!==id){
                    this.town_names = []
                    this.town_options = await lookup_api.get('city',id)
                    this.town_options.forEach((value) => {
                        this.town_names.push(value.text)
                    });
                    this.town_id = id
                }
            }else{
                this.town_names = []
            }
        },
        handleBrgy: async function (){
            if(this.town_names.includes(this.town)){
                var id = null
                this.town_options.forEach((value) => {
                    if(value.text == this.town){
                        id = value.value
                    }
                });
                if(id && this.brgy_id!=id){
                    this.brgy_names = []
                    this.brgy_options = await lookup_api.get('brgy',id)
                    this.brgy_options.forEach((value) => {
                        this.brgy_names.push(value.text)
                    });
                    this.brgy_id = id
                }
            }else{
                this.brgy_names = []
            }
        },
        getValidationClass (fieldName) {
            const field = this.$v[fieldName]
            if (field){ 
                if(fieldName=='province' && this[fieldName]!=null)
                    return { 'error': !this.province_names.includes(this.province) }
                else if(fieldName=='town' && this[fieldName]!=null)
                    return { 'error': !this.town_names.includes(this.town) }
                else if(fieldName=='brgy' && this[fieldName]!=null)
                    return { 'error': !this.brgy_names.includes(this.brgy) }
                else       
                    return { 'error': field.$invalid && field.$dirty }
            }
        },
        validateAddress: function(){
            this.$v.$touch()
            
            return !this.$v.$invalid && this.province_names.includes(this.province) && this.town_names.includes(this.town) && this.brgy_names.includes(this.brgy)
        }
    },
    mounted: async function() {
        if(!this.province_options.length){
            this.province_options = await lookup_api.get('province')
            this.province_options.forEach((value) => {
                this.province_names.push(value.text)
            });
        }
    }

}
</script>