<template>
    <div>
        <br><br><br>
        <div class="md-layout" style="padding-top: 3px;margin-left: 42px;margin-right: 42px;">
            <div class="card-file-upload card-file-l">
                <label for="selfie_input" class="file-upload" @drop="drop('selfie')" @dragover="dragover" @dragleave="dragleave">
                    <input id="selfie_input" type="file" multiple hidden ref="selfie_file" accept="image/*"
                            @change="onChange('selfie')"/>
                    <img :src="selfie_src" alt="" :style="inherit" v-if="selfie_src"/>
                    <div class="card-text" v-else>
                        <!-- <md-icon class="md-size-2x">camera_alt</md-icon> -->
                        <img src="@/assets/images/photo-camera.svg" style="width: 2.5rem;opacity: 0.5;">
                        <p class="p-1 mt-1">Take a selfie</p>
                    </div>
                    <div class="hover-file" v-if="selfie_src">
                        <div class="file-remove"  @click="deleteAttachment('selfie')">
                            <md-icon>delete</md-icon>
                        </div>
                        <div>
                            <br>
                            <p class="file-replace"><br><br>Click to replace</p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="card-file-upload card-file-r">
                <label for="id_input" class="file-upload" @drop="drop('id')" @dragover="dragover" @dragleave="dragleave">
                    <input id="id_input" type="file" multiple hidden ref="id_file" accept="image/*"
                            @change="onChange('id')"/>
                    <img :src="id_src" alt="" :style="inherit" v-if="id_src"/>
                    <div class="card-text" v-else>
                        <img src="@/assets/images/photo-camera.svg" style="width: 2.5rem;opacity: 0.5;">
                        <p class="p-1 mt-1">Take a photo of your ID</p>
                    </div>
                    <div class="hover-file" v-if="id_src">
                        <div class="file-remove"  @click="deleteAttachment('id')">
                            <md-icon>delete</md-icon>
                        </div>
                        <div>
                            <br>
                            <p class="file-replace"><br><br>Click to replace</p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <br>
        <div class="md-layout" style="padding-top: 3px;margin-left: 42px;margin-right: 42px;">    
            <div class="card-file-upload card-file-l">
                <label for="coe_input" class="file-upload" @drop="drop('coe')" @dragover="dragover" @dragleave="dragleave">
                    <input id="coe_input" type="file" multiple hidden ref="coe_file" accept="image/*"
                            @change="onChange('coe')"/>
                    <img :src="coe_src" alt="" :style="inherit" v-if="coe_src"/>
                    <div class="card-text" v-else>
                        <img src="@/assets/images/photo-camera.svg" style="width: 2.5rem;opacity: 0.5;">
                        <p class="p-1 mt-1">Take a photo of your COE</p>
                    </div>
                    <div class="hover-file" v-if="coe_src">
                        <div class="file-remove"  @click="deleteAttachment('coe')">
                            <md-icon>delete</md-icon>
                        </div>
                        <div>
                            <br>
                            <p class="file-replace"><br><br>Click to replace</p>
                        </div>
                    </div>
                </label>
            </div>
            <div class="card-file-upload card-file-r">
                <label for="payslip_input" class="file-upload" @drop="drop('payslip')" @dragover="dragover" @dragleave="dragleave">
                    <input id="payslip_input" type="file" multiple hidden ref="payslip_file" accept="image/*"
                            @change="onChange('payslip')"/>
                    <img :src="payslip_src" alt="" :style="inherit" v-if="payslip_src"/>
                    <div class="card-text" v-else>
                        <img src="@/assets/images/photo-camera.svg" style="width: 2.5rem;opacity: 0.5;">
                        <p class="p-1 mt-1">Take a photo of your Payslip</p>
                    </div>
                    <div class="hover-file" v-if="payslip_src">
                        <div class="file-remove"  @click="deleteAttachment('payslip')">
                            <md-icon>delete</md-icon>
                        </div>
                        <div>
                            <br>
                            <p class="file-replace"><br><br>Click to replace</p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <br><br><br>
        <div style="text-align: center;">
            <v-btn class="md-raised btn-submit" @click="tosubmit()">
                <span v-if="!submitted">SUBMIT</span> 
                <md-progress-spinner md-mode="indeterminate" v-if="submitted"
                    :md-diameter="26" 
                    :md-stroke="3">
                </md-progress-spinner>
            </v-btn>
        </div>
        <br>
    </div>
</template>

<script>

export default {
    data: function() {
        return{
            selfie: [],
            id: [],
            coe: [],
            payslip: [],
            
            inherit: 'height:inherit',
            selfie_src: null,
            selfie_file: {},
            id_src: null,
            id_file: {},
            coe_src: null,
            coe_file: {},
            payslip_src: null,
            payslip_file: {},

            submitted: false
        }
    },
    methods:{
        onChange(type) {
            event.preventDefault();
            var reader = ''
            var file_type = null
            var input = null
            switch (type) {
                case 'selfie':
                    if(this.$refs.selfie_file.files.length){
                        file_type = this.$refs.selfie_file.files[0].type

                        if(file_type.includes('image')){
                            this.selfie_file = this.$refs.selfie_file.files[0];
                            reader = new FileReader();
                            reader.onload = () => {
                                this.selfie_src = reader.result

                                // var i = new Image(); 
                                // i.src = this.selfie_src; 
                                // var that = this
                                // i.onload = function(){
                                //     if(i.width > i.height || i.width==i.height)
                                //         that.inherit = 'height:inherit'
                                //     else
                                //         that.inherit = 'width:inherit'
                                // };
                            };
                            reader.readAsDataURL(this.selfie_file);
                        }else{
                            input = this.$refs.selfie_file
                            input.type = 'text'
                            input.type = 'file'
                            this.$toast.error('Only images are accepted as Selfie.',{
                                duration : 5000
                            })
                        }
                    }
                    break;
                case 'id':
                    if(this.$refs.id_file.files.length){
                        file_type = this.$refs.id_file.files[0].type

                        if(file_type.includes('image')){
                            this.id_file = this.$refs.id_file.files[0];
                            reader = new FileReader();
                            reader.onload = () => {
                                this.id_src = reader.result
                            };
                            reader.readAsDataURL(this.id_file);
                        }else{
                            input = this.$refs.id_file
                            input.type = 'text'
                            input.type = 'file'
                            this.$toast.error('Only images are accepted as ID.',{
                                duration : 5000
                            })
                        }
                    }
                    break;
                case 'coe':
                    if(this.$refs.coe_file.files.length){
                        file_type = this.$refs.coe_file.files[0].type

                        if(file_type.includes('image')){
                            this.coe_file = this.$refs.coe_file.files[0];
                            reader = new FileReader();
                            reader.onload = () => {
                                this.coe_src = reader.result
                            };
                            reader.readAsDataURL(this.coe_file);
                        }else{
                            input = this.$refs.coe_file
                            input.type = 'text'
                            input.type = 'file'
                            this.$toast.error('Only images are accepted as COE.',{
                                duration : 5000
                            })
                        }
                    }
                    break;
                case 'payslip':
                    if(this.$refs.payslip_file.files.length){
                        file_type = this.$refs.payslip_file.files[0].type

                        if(file_type.includes('image')){
                            this.payslip_file = this.$refs.payslip_file.files[0];
                            reader = new FileReader();
                            reader.onload = () => {
                                this.payslip_src = reader.result
                            };
                            reader.readAsDataURL(this.payslip_file);
                        }else{
                            input = this.$refs.payslip_file
                            input.type = 'text'
                            input.type = 'file'
                            this.$toast.error('Only images are accepted as payslip.',{
                                duration : 5000
                            })
                        }
                    }
                    break;   
                default:
                    break;
            }
        },
        drop(type) {
            event.preventDefault();
            var file_type = null
            file_type = event.dataTransfer.files[0].type
            switch (type) {
                case 'selfie':
                    if(file_type.includes('image')){
                        this.$refs.selfie_file.files = event.dataTransfer.files;
                        this.onChange('selfie');
                    }else{
                        this.$toast.error('Only images are accepted as selfie.',{
                            duration : 5000
                        })
                    }
                    break;
                case 'id':
                    if(file_type.includes('image')){
                        this.$refs.id_file.files = event.dataTransfer.files;
                        this.onChange('id');
                    }else{
                        this.$toast.error('Only images are accepted as ID.',{
                            duration : 5000
                        })
                    }
                    break;
                case 'coe':
                    if(file_type.includes('image')){
                        this.$refs.coe_file.files = event.dataTransfer.files;
                        this.onChange('coe');
                    }else{
                        this.$toast.error('Only images are accepted as COE.',{
                            duration : 5000
                        })
                    }
                    break;
                case 'payslip':
                    if(file_type.includes('image')){
                        this.$refs.payslip_file.files = event.dataTransfer.files;
                        this.onChange('payslip');
                    }else{
                        this.$toast.error('Only images are accepted as payslip.',{
                            duration : 5000
                        })
                    }
                    break;
                default:
                    break;
            }
        },
        dragover() {
            event.preventDefault();
        },
        dragleave() {
            event.preventDefault();
        },
        deleteAttachment: function(type) {
            event.preventDefault();
            var input = null
            switch (type) {
                case 'selfie':
                    this.selfie_file = {}
                    this.selfie_src = null
                    input = this.$refs.selfie_file
                    input.type = 'text'
                    input.type = 'file'
                    break;
                case 'id':
                    this.id_file = {}
                    this.id_src = null
                    input = this.$refs.id_file
                    input.type = 'text'
                    input.type = 'file'
                    break;
                case 'coe':
                    this.coe_file = {}
                    this.coe_src = null
                    input = this.$refs.coe_file
                    input.type = 'text'
                    input.type = 'file'
                    break;
                case 'payslip':
                    this.payslip_file = {}
                    this.payslip_src = null
                    input = this.$refs.payslip_file
                    input.type = 'text'
                    input.type = 'file'
                    break;
                default:
                    break;
            }
        },
        validateAttachment: function(){
            var validation = true
            if( !(this.selfie_file instanceof File) ){
                validation = false
            }else if( !(this.id_file instanceof File) ){
                validation = false
            }else if( !(this.coe_file instanceof File) ){
                validation = false
            }else if( !(this.payslip_file instanceof File) ){
                validation = false
            }

            return validation
        },
        tosubmit(){
            this.$emit('submit')
        }
    },

}
</script>