<template>
    <div>
        <br>
        <v-autocomplete v-model="school_input" :md-options="school_names" :md-fuzzy-search="false" :md-open-on-focus="false" :class="getValidationClass('school_input')"
            @md-selected="getMaxLoanAmount">
            <label class="label-text">Start typing to search school</label>
            <template slot="v-autocomplete-item" slot-scope="{ item, term }">
                <md-highlight-text :md-term="term">{{ item }}</md-highlight-text>
            </template>
            <template slot="v-autocomplete-empty">
                No match found
            </template>
        </v-autocomplete>

        <v-input :class="getValidationClass('nthp')">
            <label class="label-text">How much is your net take home pay?</label>
            <span class="md-prefix">
                <img src="@/assets/images/philippine-peso.svg" alt="" style="width:14px">
            </span>
            <span class="md-helper-text" v-if="!checkValidity()">Min of &#8369;6000</span>
            <v-input v-model="nthp" pattern="\d*"
                @keydown="isAmount('nthp')"
            ></v-input>
        </v-input>

        <v-input :class="getValidationClass('loan_amount_input')">
            <label class="label-text">How much is your preferred loan amount?</label>
            <span class="md-prefix">
                <img src="@/assets/images/philippine-peso.svg" alt="" style="width:14px">
            </span>
            <v-input v-model="loan_amount_input" :disabled="!checkValidity()"
                @keydown="isAmount('loan_amount_input')"
            ></v-input>
        </v-input>

        <div class="md-layout min-max-text">
            <div class="md-layout-item md-size-25 text-left">
                0.00
            </div>
            <div class="md-layout-item" style="color:#757575;text-align: center;" >
                <span v-if="!checkValidity()">Enter Net take home pay first</span>
            </div>
            <div class="md-layout-item md-size-25 text-right">
                {{max_loan_amount}}.00
            </div>
        </div>

        <p class="label-text" style="font-size:13.5px;color: #757575;">What is your preferred payment term (in months)?</p>
        <div class="md-layout radio-cont">
            <div class="md-layout-item radio-custom ">
                <input class="" type="radio" v-model="payment_term" value="12" checked hidden>
                <label class="field_input" for="12_month">
                    12
                </label>
            </div>
            <div class="md-layout-item radio-custom">
                <input class="" type="radio" v-model="payment_term" value="18" hidden>
                <label class="field_input" for="18_month">
                    18
                </label>
            </div>
            <div class="md-layout-item radio-custom">
                <input class="" type="radio" v-model="payment_term" value="24" hidden>
                <label class="field_input" for="24_month">
                    24
                </label>
            </div>
            <div class="md-layout-item radio-custom">
                <input class="" type="radio" v-model="payment_term" value="36" hidden>
                <label class="field_input" for="36_month">
                    36
                </label>
            </div>
            <div class="md-layout-item radio-custom">
                <input class="" type="radio" v-model="payment_term" value="48" hidden>
                <label class="field_input" for="48_month">
                    48
                </label>
            </div>
            <div class="md-layout-item radio-custom">
                <input class="" type="radio" v-model="payment_term" value="60" hidden>
                <label class="field_input" for="60_month">
                    60
                </label>
            </div>
        </div>
        <br>
        <div class="md-layout calc-details">
            <div class="md-layout-item  radio-cont">
                <div class="calc-details-text">
                    Monthly Amortization
                </div>
                {{monthly_amortization}}
                <br><br>
                <div class="calc-details-text">
                    Loan Amount
                </div>
                {{loan_amount}}
            </div>
            <div class="md-layout-item  radio-cont">
                <div class="calc-details-text">
                    Processing Fee
                </div>
                {{processing_fee}}
                <br><br>
                <div class="calc-details-text">
                    Net Proceeds
                </div>
                {{net_proceeds}}
            </div>
        </div>
        <br>
        <div style="text-align:center;font-size: 13px;color: #808080;">
            <span>Click on the icons above to navigate</span>
        </div>
        <br>
    </div>
</template>

<script>
import { getCompany } from '@/api/company'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
    data: function() {
        return {
            school_input: null,
            nthp: null,
            loan_amount_input: null,
            payment_term :12,

            loan_amount: "0.00",
            monthly_amortization: "0.00",
            processing_fee: "0.00",
            net_proceeds: "0.00",

            max_loan_amount: 0,

            schools: [],
            school_names: [],
        }
    },
    mixins: [validationMixin],
    validations: {
        school_input: { required },
        nthp: { required }, //maxLength: maxLength(6) 
        loan_amount_input: { required } //maxLength: maxLength(7)
    },
    watch: {
        nthp: function(){
            this.getMaxLoanAmount()
        }
    },
    methods:{
        getSchools(){
            getCompany('puc').then(response => {
                console.log(response)
                this.schools = response.data.data
                response.data.data.forEach((value) => {
                    if(!this.school_names.includes(value.company))
                        this.school_names.push(
                            value.company
                        )
                });
                this.school_names.sort()
            }).catch((error) => {
                this.$log.error(error);
                this.$toast.error('Oops! Something went wrong.',{
                    duration : 5000
                })
            });
        },
        checkValidity: function(){
            if( this.school_names.includes(this.school_input) && (!this.$v.nthp.$invalid && (this.convertNumber(this.nthp) > 6000)) )
                return true
            else 
                return false
        },
        getMaxLoanAmount: function(){
            if( this.checkValidity() ){
                var max_monthly_amo = this.convertNumber(this.nthp) - 5000
                var temp_schools = []
                var rate = null
                //get values which has same company name
                this.schools.forEach((value) => {
                    if(value.company == this.school_input){
                        temp_schools.push(value)
                    }
                });
                //Find rate
                temp_schools.forEach((value) => {
                    if(value.term == this.payment_term){
                        rate = value.interest_rate
                    }
                });
                if(!rate){
                    temp_schools.forEach((value) => {
                        if(value.term == 'any'){
                            rate = value.interest_rate
                        }
                    });
                }
                rate = this.convertNumber(rate) / 100
                console.log(rate)
                this.max_loan_amount = this.computeMaxLoanAmount(rate, this.payment_term, max_monthly_amo);
                console.log(this.max_loan_amount)
            }else{
                this.max_loan_amount = 0
                this.loan_amount_input = null
            }
        },
        computeMaxLoanAmount: function(rate, nper, pmt){
            rate = rate / 12;
            var amount = pmt / rate * (1 - Math.pow(1 + rate, -nper));
            console.log(amount)
            //round DOWN neareast thousand
            amount = Math.floor(amount / 1000) * 1000;

            return amount;
        },
        getValidationClass (fieldName) {
            const field = this.$v[fieldName]
            if (field) {
                if(fieldName=='school_input' && this[fieldName]!=null)
                    return { 'error': !this.school_names.includes(this.school_input) }
                else if(fieldName=='nthp' && this[fieldName]!=null)
                    return { 'error': field.$invalid || (this.convertNumber(this.nthp) < 6000)}
                else
                    return { 'error': field.$invalid && field.$dirty }
            }
        },
        validateCalculator: function(){
            this.$v.$touch()
            
            return (!this.$v.$invalid && this.school_names.includes(this.school_input))
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57) && (charCode < 96 || charCode > 105)) && charCode !== 46 && charCode !== 188 && charCode !== 190) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        convertNumber: function(value){
            return  Number(value.replace(/[^0-9.-]+/g,""));
        },
        isAmount: function(field){
            var charCode = (event.which) ? event.which : event.keyCode;
            
            if ((charCode > 31 && (charCode < 48 || charCode > 57) && (charCode < 96 || charCode > 105)) && charCode !== 46 && charCode !== 188 && charCode !== 190) {
                event.preventDefault();
            } else {
                event.preventDefault();
                var valueString = event.target.value
                if(charCode==8 || charCode==46)
                    valueString = valueString.slice(0, -1)
                else
                    valueString = valueString + event.key

                var str = valueString.replace(/[^0-9]/g,'')
                var amount = ''
                if(str) amount = str.substring(0,str.length-2)+"."+str.substring(str.length-2)

                var formattedString = amount.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                this[field] = formattedString
            }
        },
        
    },
    mounted() {
        this.getSchools()
    }

}
</script>