<template>
    <b-container fluid class="top-container">
        <br><br>
    <!--Body-->
    <b-row class="mt-4 ml-4 mr-4">
        <b-col md="12" class="product-body">

            <b-container fluid>
                <b-row class="pb-4">
                    <b-col md="12" class="mt-2 mb-3 pl-0">
                        <h3>ERROR 401</h3>
                    </b-col>
                </b-row>
            </b-container>
        </b-col>
    </b-row>
    </b-container>
</template>
<script>

export default {
  name: 'Page41',
  computed: {
    message() {
      return 'The webmaster said that you can not enter this page...'
    }
  }
}
</script>
