<template>
    
    <v-container>
        <v-row no-gutters>
            <v-col sm="12">
                Error page!
            </v-col>
        </v-row>
    </v-container>
        
</template>
<script>

export default {
  name: 'Page404',
  computed: {
    message() {
      return 'The webmaster said that you can not enter this page...'
    }
  }
}
</script>
