.app-container {
    max-width: 420px !important;
    margin: auto !important;
}
.banner-container {
    background: white !important;
    padding-top:12px !important;
    /* padding-bottom:12px !important; */
    padding-left: 4px !important;
}
.content-container {
    background-color:white !important;
    border-radius: 3px !important;
    color: black !important;
    font-size: 17px !important;
    padding:15px !important;
    padding-top:0px !important;
}


.progress-nav {
    margin: auto !important;
    width: 70% !important;
    text-align: center !important;
    margin-bottom: 6px !important;
    cursor: pointer !important;
}
.progress-nav-item {
    margin: auto !important;
}
.nav-image {
    width: 100% !important;
    height: 100% !important;
    padding: 1px !important;
    overflow: hidden !important;
    border-radius: 100% !important;
}
.active .nav-image {
    background-color: #4f2684 !important;
    width: 70% !important;
}
.nav-text {
    font-size:9px !important;
}
.active .nav-text {
    font-weight: bold !important;
    font-size:12px !important;
}
.dot {
    height: 4px !important;
    width: 4px !important;
    background-color: #4f2684 !important;
    border-radius: 100% !important;
    display: inline-block !important;
    margin: auto !important;
}
.m-auto{
    margin: auto !important;
}
.ml-50{
    margin-left: 50%;
}
.ml-25{
    margin-left: 25%;
}

.label-title {
    font-weight: bold
}
/* .label-text {
    font-size: 13.5px !important;
} */
.md-focused .label-text {
    /* font-size: 13px !important; */
    color: #faa634 !important;
}
/* .md-has-value .label-text {
    font-size: 13px !important;
} */
.md-field.md-theme-default:before {
    background-color: #faa634 !important;
}
.error.md-field:after {
    height: 1.5px;
    background-color: red !important;
}
.radio-custom label {
    border: 1px;
    border-style: solid;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 1rem;
}
.radio-custom input:checked ~ label {
    background-color: #faa634;
}
.radio-cont {
    padding-top:8px;
    text-align: center;
}

.calc-details {
    margin-top: 5px;
    text-align: center;
}
.calc-details-text{
    font-size: 11px;
    color: #949494;
}
.min-max-text {
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 12px;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.md-field {
    margin: 0px 0 15px !important;
}

.button-carousel {
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(219,112,63);
    background: linear-gradient(90deg, rgba(219,112,63,1) 0%, rgba(238,85,33,1) 0%, rgba(251,187,24,1) 100%);
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: default;
    border-color: black;
    cursor: pointer;
}

/**********************/
.banner {
    background: #4f2684;
}
.banner-width {
    margin: auto;
    width: 55%;
}
/********************/
.cp-hr{
    margin-top:0.2rem;
    border-color: #f5a847;
    border-width:2px;
    /* margin-top: 1rem; */
    margin-bottom: 0.8rem;
    border-top: 0px solid rgba(0,0,0,.1);
}
.divider{
    padding-top: 1.5rem;
}
.divider-text{
    font-size: 14px;
}


/****File Upload****/
.card-file-l {
    flex: 1 1;
    margin-right: 12px;
}
.card-file-r {
    flex: 1 1;
    margin-left: 12px;
}
.card-file-upload{
    width:100%;
    height: 135px;
    padding: 0px;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    color: #ccc;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.file-upload{
    height: 100%;
    width:100%;
}
.card-text{
    cursor: pointer;
    margin-top: 40px;
    font-size: 12px;
}
.card-text p {
    margin-top: 0px;
}
@media (max-width:375px){
    .card-file-upload {
        height: 120px;
    }
    .card-text{
        margin-top: 31px;
        font-size: 13px;
    }
    .card-text p {
        margin-top: 0px;
    }
}
@media (max-width:360px){
    .card-file-upload {
        height: 111px;
    }
    .card-text {
        margin-top: 16px;
    }
    .card-text p {
        padding-right: 3px;
    }
}
.fs-3{
    font-size: 3rem
}
.hover-file {
    top: 0px;
    width: 100%;
    height: 135px;
    position: absolute;
    text-align: center;
    opacity: 0;
    background-color: #2d2b2b;
}
.card-file-upload ~ .hover-file {
    transition: 0.2;
    opacity:0.8;
}
.hover-file:hover {
    transition: 0.2;
    opacity:0.8;
}
.card-replace {
    margin-top: 57px;
}
.file-title {
    font-size: medium;
    font-weight: bold;
    color: #fff
}
.file-replace {
    margin-top: -3px;
    font-size: 13px;
    font-weight: bold;
    color: #9e9e9e;
}
.file-remove {
    background-color: red;
    width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: right;
}
/****End of File Upload****/


/* .btn-submit{ 
    background: linear-gradient(90deg, rgba(219,112,63,1) 0%, rgba(238,85,33,1) 0%, rgba(251,187,24,1) 100%) !important;   
    width: 100% !important;   
    border-radius: 6px !important;   
    color: white !important;   
    padding: 0px !important;   
    margin-left: 0px !important;   
}  */
.md-menu-content-bottom-start.md-menu-content-small.md-menu-content.md-theme-default{
    max-width: 390px !important;
    width: 390px !important;
}
@media (max-width:375px){
    .md-menu-content-bottom-start.md-menu-content-small.md-menu-content.md-theme-default{
        max-width: 100% !important;
        width: 91% !important;
    }
}

.helper{
    font-size: 12px !important;
}