<template>
  <v-app id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view/>
  </v-app>
</template>
<style lang="scss">
body {
  background: #f1f1f1;
}
</style>

<style>
  @import './assets/app.css';
  @import '/assets/toast.css';
</style>
