<template>
    <v-main class="app-container">
        <v-card elevation="6">

            <v-row no-gutters justify="center" align="center" class="banner-container">
                <v-col cols="1"></v-col>
                <v-col cols="10">
                    <img id="banner" src="@/assets/images/logo.jpg" style="width: 100%; height: 100%">
                </v-col>
                <v-col cols="1"></v-col>
            </v-row>

    
            <v-container class="content-container">
                <v-row class="progress-nav">
                    <v-col class="progress-nav-item" cols="3" style="padding: 0px !important;" @click="handleCalculator" :class="{active:(active_menu=='Calculator')}">
                        <v-row no-gutters justify="center" align="center">
                            <v-col cols="3" v-if="active_menu!='Calculator'">
                            </v-col>
                            <v-col >
                                <img src="@/assets/images/calculating.svg" class="nav-image">
                            </v-col>
                            <v-col cols="3" v-if="active_menu!='Calculator'">
                                <span class="dot"></span>
                            </v-col>
                        </v-row>
                        <v-row no-gutters justify="center" align="center">
                            <span class="nav-text">Calculator</span>
                        </v-row>
                    </v-col>
                    <v-col class="progress-nav-item" cols="3" style="padding: 0px !important;" @click="handleProfile" :class="{active:(active_menu=='Profile')}">
                        <v-row no-gutters justify="center" align="center">
                            <v-col cols="3" v-if="active_menu!='Profile'">
                                <span class="dot"></span>
                            </v-col>
                            <v-col >
                                <img src="@/assets/images/man.svg" class="nav-image">
                            </v-col>
                            <v-col cols="3" v-if="active_menu!='Profile'">
                                <span class="dot"></span>
                            </v-col>
                        </v-row>
                        <v-row no-gutters justify="center" align="center">
                            <span class="nav-text">Profile</span>
                        </v-row>
                    </v-col>
                    <v-col class="progress-nav-item" cols="3" style="padding: 0px !important;" @click="handleAddress" :class="{active:(active_menu=='Address')}">
                        <v-row no-gutters justify="center" align="center">
                            <v-col cols="3" v-if="active_menu!='Address'">
                                <span class="dot"></span>
                            </v-col>
                            <v-col>
                                <img src="@/assets/images/house.svg" class="nav-image">
                            </v-col>
                            <v-col cols="3" v-if="active_menu!='Address'">
                                <span class="dot"></span>
                            </v-col>
                        </v-row>
                        <v-row no-gutters justify="center" align="center">
                            <span class="nav-text">Address</span>
                        </v-row>
                    </v-col>
                    <v-col class="progress-nav-item" cols="3" style="padding: 0px !important;" @click="handleAttachment" :class="{active:(active_menu=='Attachment')}">
                        <v-row no-gutters justify="center" align="center">
                            <v-col cols="3" v-if="active_menu!='Attachment'">
                                <span class="dot"></span>
                            </v-col>
                            <v-col>
                                <img src="@/assets/images/attachment.svg" class="nav-image">
                            </v-col>
                            <v-col cols="3" v-if="active_menu!='Attachment'">
                            </v-col>
                        </v-row>
                        <v-row no-gutters justify="center" align="center">
                            <span class="nav-text">Attachment</span>
                        </v-row>
                    </v-col>
                </v-row>

                <app-main />
            </v-container>
        </v-card>
    </v-main>
</template>

<script>

import { AppMain } from './components'

export default {
    components: {
        AppMain
    },
    data: function() {
        return{
            active_menu: 'Calculator',
            valid_calulator: false,
            valid_profile: false,
        }
    },
    methods:{
        handleCalculator: async function() {
            let from  = this.$route.fullPath
            let to    = this.$router.resolve({ path: '/' }).route.fullPath
            if(from === to) { 
              // handle any error due the redundant navigation here
              // or handle any other param modification and route afterwards
              return 
            }
            this.$router.push({ path: '/' })


            this.active_menu='Calculator'
            
        },
        handleProfile: async function(){
            let from  = this.$route.fullPath
            let to    = this.$router.resolve({ path: '/profile/index' }).route.fullPath
            if(from === to) { 
              // handle any error due the redundant navigation here
              // or handle any other param modification and route afterwards
              return 
            }
            this.$router.push({ path: '/profile/index' })

            console.log('asdasdasd')
            if(this.active_menu=='Calculator'){
                // var valid_calulator = await this.$refs.Calculator.validateCalculator()
                // if(valid_calulator) 
                this.active_menu='Profile'
            }else{
                this.active_menu='Profile'
            }
        },
        handleAddress: async function(){
            if(this.active_menu=='Calculator'){
                // var valid_calulator = await this.$refs.Calculator.validateCalculator()
                // var valid_profile = await this.$refs.Profile.validateProfile()
                // if(valid_calulator && valid_profile) 
                    this.active_menu='Address'

            }else if(this.active_menu=='Profile'){
                //if(this.$refs.Profile.validateProfile())
                    this.active_menu='Address'
            }else{
                this.active_menu='Address'
            }
        },
        handleAttachment: async function(){
            if(this.active_menu=='Calculator'){
                // var valid_calulator2 = await this.$refs.Calculator.validateCalculator()
                // var valid_profile2 = await this.$refs.Profile.validateProfile()
                // var valid_address2 = await this.$refs.Address.validateAddress()

                // if(valid_calulator2 && valid_profile2 && valid_address2)
                    this.active_menu='Attachment'

            }else if(this.active_menu=='Profile'){
                // if(this.$refs.Profile.validateProfile() && this.$refs.Address.validateAddress())
                    this.active_menu='Attachment'

            }else if(this.active_menu=='Address'){
                // if(this.$refs.Address.validateAddress())
                    this.active_menu='Attachment'
            }
        }
    },

}
</script>